


<button (click)="incrementProperty()">click on this div element will incerement a property on the component wich is an &#64;Input on the child1, wich will trigger CD even if child is OnPush {{parentcounter.count}}</button>
<br>
simpleParentProperty: {{simpleParentProperty}}
<br>
routeCommonServiceProperty service property's value:  {{routeCommonServiceProperty}} - <button (click)="incrementRouteCommonServiceProperty()">Increment it</button>
<br>Datenaustausch zwischen navigation und CD2 Komponenten (keine Beziehung) mit Verwendung von BehaviorSubject <br>
incrementObservableServiceProperty: {{observableServiceProperty}} <button (click)="incrementObservableServiceProperty()">incrementObservableServiceProperty</button>

<cd2child1 [parentCounter]="parentcounter">
  <header>content projection header, counter from parent: {{parentcounter}}</header>
  <footer>content projection footer, counter from parent, but it will be referenced via ContentChild in child and extra-incremented: {{parentcounter}}</footer>
</cd2child1>


