PARENT

{{szam}}
<br/>
<span #spanRef>
  string interpolation with method expression: {{kiir()}}
</span>
<input type="button" (click)="changeViewChildText()">
<br/>
userarr:


routeCommonServiceProperty service property's value  {{routeCommonServiceProperty}} - <button (click)="incrementRouteCommonServiceProperty()">Increment it</button>
<br>

<button (click)="clickToIcrementInputSzam()"> click to insrement szam input for the child</button>
<cdchild (childEvent)="reactToChildEvent($event)" [szamInput]="szam" #child></cdchild>
