

<hr>

CD child component template
<div style="border: dot-dash #7C2EDD">
  szamInput: {{szamInput()}}
  <br/>


  @for(user of usersArr(); track user.name) {
    {{user.age}}
    {{user.name}}
  }
  <br/>

  <button (click)="childEvent.emit('kackac')">emitting value using Output decorator</button>
  <button (click)="myOutput.emit('this is the payload for outputFromObservable')">emitting value using output function</button>
  <button (click)="atpasszolniChange.emit('ez jött a childtől')">atpasszolniChange</button>

  Using signal:
  <input type="text" [value]="nulladikSignal()" />
  <input type="text" (keyup)="firstSignalChanged($event)" />
  <input type="text" (keyup)="secondSignalChanged($event)" />
  Mezők összege: {{computedSignal()}}
  <br/>
  <br/>
    <input type="text" [(ngModel)]="twowayBindProperty" />
    <button (click)="changeTwowayBindProperty()">changing twowayBindProperty</button>


</div>
<hr>
