

<hr>

CD child component template
<div style="border: dot-dash #7C2EDD">
  szamInput: {{szamInput()}}
  <br/>


  @for(user of usersArr(); track user.name) {
    {{user.age}}
    {{user.name}}
  }
  <br/>

  <button (click)="emitChildEvent()">Output</button>

  Using signal:
  <input type="text" [value]="nulladikSignal()" />
  <input type="text" (keyup)="firstSignalChanged($event)" />
  <input type="text" (keyup)="secondSignalChanged($event)" />
  Mezők összege: {{computedSignal()}}
  <br/>
  <br/>
</div>
<hr>
