<div class="modal-header">
  <h4 class="modal-title">Auditlogs</h4>

  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<!--INLINE EDITING TABLE CELL FIELDS !! :)-->
<!--https://swimlane.github.io/ngx-datatable/#inline-edit-->

<div class="modal-body">
  <div class="mb-3" >If you click edit in the row, than static fields become input fields, by subsequent click on edit will convert them into static fields, but not save them.
  Rows already edited will have black pencil icon, not edited white ones.</div>
  <ngx-datatable #auditlogsDataTable id="auditlogsDataTable"
                 [messages]="{emptyMessage: 'Keine Daten vorhanden'}"
                 [headerHeight]="30"
                 [rowHeight]="30"
                 [rows]="auditlogs"
                 [scrollbarV]="true"
  >
    <ngx-datatable-column  name="Id" prop="id" [canAutoResize]="false" [sortable]="true"></ngx-datatable-column>
    <ngx-datatable-column  name="user" prop="user" [canAutoResize]="true" [sortable]="true"></ngx-datatable-column>
    <ngx-datatable-column  name="konnektor" prop="konnektor" [canAutoResize]="true" [sortable]="true">

    </ngx-datatable-column>
    <ngx-datatable-column  name="userAction" prop="userAction" [canAutoResize]="true" [sortable]="true">
      <ng-template  let-row="row" ngx-datatable-cell-template>
        {{mapUserActionToString(row.userAction)}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column  name="timestamp" [canAutoResize]="true" [sortable]="true">
      <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex" >
        <span title="double click to edit" *ngIf="!editable[rowIndex + '-timestamp']" (dblclick)="editable[rowIndex + '-timestamp'] = true">
         {{row.timestamp | date:"YYYY-MM-dd"}}
        </span>
        <input ngbDatepicker #d="ngbDatepicker" type="text" class="form-control"  *ngIf="editable[rowIndex + '-timestamp']" [value]="convertISODateToString(row.timestamp)"
          (blur)="onUpdateCell(row.id, rowIndex, '-timestamp', $event)">

      </ng-template>
    </ngx-datatable-column>



    <ngx-datatable-column  name="Delete" [canAutoResize]="false" [sortable]="false">
      <ng-template  let-row="row" ngx-datatable-cell-template>
        <i class="bi bi-trash"></i>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>



</div>
<div class="modal-footer">
  <button id="new-button" style="margin-left: 10px;" (click)="onAddNew()" class="btn btn-primary">Add new Auditlog</button>
  <button id="saveall-button" style="margin-left: 10px;" (click)="onSaveAll()" class="btn btn-primary">Save all</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
