<div  class="card mt-3">
  <div class="card-body">

    <h5 class="card-title bg-body-tertiary">Cart</h5>

    <div class="row border-1 border-black">

      <div class="col-3">
        <b>Vehicle</b>
        @for (veh of vehicles; track veh) {
          <div> {{veh.brand}}</div>
        }
      </div>

      <div class="col-3">
        <b>Price</b>
        @for (veh of vehicles; track veh) {
          <div> {{veh.price}}</div>
        }
      </div>

      <div class="col-2">
        <b>Quantity</b>
        @for (veh of vehicles; track veh) {
          <div>
            <select [(ngModel)]="selectedQuantity" style="width: 60px;" (change)="onChangeSelectedVehicle(veh)">
              @for (quant of veh.quantity; track quant) {
                <option>
                  {{quant}}
                </option>
              }
            </select>
          </div>
        }
      </div>

      <div class="col-2">
        &nbsp;
        @for (veh of vehicles; track veh) {
          <div>  <button>delete</button></div>
        }

      </div>

    </div>

    <hr>

      <div class="row border-1 border-black bg-body-secondary">
        <div class="col-3">
          <div>Subtotal:</div>
          <div>Delivery:</div>
          <div>Estimated Tax:</div>
          <div><b>Total:</b></div>
        </div>
        <div class="col-3">
          <div>{{subTotal()}}</div>
          <div>222</div>
          <div>{{estimatedTax()}}</div>
          <div>{{total()}}</div>
        </div>
        <div class="col-6">
          <div><button (click)="multiplayBy10()">Multiplay Subtotal by 10</button></div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
        </div>

      </div>

    </div>
  </div>
